<footer class="footer">
    <div class="content has-text-centered">
        <div class="content has-text-centered">
          <div class="content">
            <span class="subtitle is-size-5-mobile is-size-6-desktop">Handcrafted by Me - 2024</span>
          </div>
          <div class="made-with-bulma">
            <a href="https://bulma.io">
              <img 
                src="/img/made-with-bulma.png" 
                alt="Made with Bulma" 
                width="128"
                height="24">
            </a>
          </div>
        </div>
    </div>
</footer>