$section-contact-background: #14213D;
$section-background: #435987;
.section {
    background-color: transparent;
    
    .box {
        margin-top: 10rem;
        background-color: $section-contact-background;
        box-shadow: none;
    }
}