<section class="section has-text-centered">
    <div class="container is-medium">
        <div class="box">
            <div class="content">
                <div class="columns is-vcentered">
                    <div class="column">
                        <span class="title is-size-4">Start a project</span>
                    </div>
                    <div class="column">
                        <span class="subtitle is-size-6">Interested in my profile? We should get in touch<br/>and queue a time to chat</span>
                    </div>
                    <div class="column">
                        <a class="button is-success is-outlined is-rounded is-medium has-text-weight-normal" routerLink="/contact_me">
                            Let's do this
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
