<section class="section is-medium is-primary has-text-centered">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, i’m Alessandro. Nice to meet you</h1>
                <h2 class="subtitle is-size-5-desktop has-text-weight-normal">"Since beginning my journey as a full stack developer 9 years ago, I've worked for a consultancy company<br/>
                    with various financal partners such as Fiditalia or Generali Italia.<br/>
                    After 6 years i realized that my mind was getting lazy so i crashed my comfort zone<br/>
                    and started in the free time to study new things such as UX/UI design, Mobile development,<br/>
                    Game Programming with Unreal Engine 4 and C++.<br/>
                    Now i could say i’ve reached my major goal: 
                    becoming a Flutter Mobile Developer."
                </h2>
            </div>
        </div>
    </div>
</section>