@use "bulma/sass/utilities/mixins";

$title-title-color: #14213D;
$subtitle-text-color: #FCA311;

.title {
    color: $title-title-color;
}
.subtitle {
    color: $subtitle-text-color;
}
.avatar {
    margin: 2rem 0;
    width: 150px;
    @include mixins.from(769px){
        width: 210px;
    }
}