<section class="section hero">
    <div class="hero is-white has-text-centered is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column">
                        <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Web and Mobile Full Stack Developer</h1>
                        <h2 class="subtitle is-size-4-tablet">Always in search of new things to learn</h2>
                        <img class="avatar" src="avatar/avatar.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered">
            </div>
        </div>
    </div>
</section>