<section class="section skills has-text-centered">
    <div class="container">
        <div class="box">
            <div class="content">
                <div class="columns is-centered">
                    <div class="column has-border-right">
                        <span class="fa-stack fa-3x">
                            <i class="circle fa-solid fa-circle fa-stack-2x"></i>
                            <i class="icon fa-solid fa-laptop-code fa-stack-1x"></i>
                        </span>
                        <h1 class="title is-size-4 is-spaced">
                            Full-Stack Developer
                        </h1>
                        <span class="subtitle is-size-6 is-spaced">
                            I like to code things from scratch and power up<br/>already existing websites
                        </span>
                        <h3 class="title is-size-4 is-spaced">
                            Language I speak:
                        </h3>
                        <span class="subtitle is-size-6 is-spaced">
                            HTML, CSS, SASS, Typescript, Javascript,<br/>GIT, Java, PhP
                        </span>
                        <h3 class="title is-size-4 is-spaced">
                            Dev Tools:
                        </h3>
                        <span class="subtitle is-size-6 is-spaced">
                            <ul class="is-list">
                                <li *ngFor="let devTool of webDevTools">{{ devTool }}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="column has-border-top">
                        <span class="fa-stack fa-3x">
                            <i class="circle fa-solid fa-circle fa-stack-2x"></i>
                            <i class="icon fa-solid fa-mobile-screen fa-stack-1x"></i>
                        </span>
                        <h1 class="title is-size-4 is-spaced">
                            Flutter Mobile Developer
                        </h1>
                        <span class="subtitle is-size-6 is-spaced">
                            I enjoy to design and bring to life simple but stunning<br/>mobile app, putting all of my effort in it
                        </span>
                        <h3 class="title is-size-4 is-spaced">
                            Language I speak:
                        </h3>
                        <span class="subtitle is-size-6 is-spaced">
                            Dart, UX, UI<br/>currently studying Swift & Kotlin
                        </span>
                        <h3 class="title is-size-4 is-spaced">
                            Dev Tools:
                        </h3>
                        <span class="subtitle is-size-6 is-spaced">
                            <ul class="is-list">
                                <li *ngFor="let mobileDevTool of mobileDevTools">{{ mobileDevTool }}</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>