<app-navbar></app-navbar>
<div class="is-form-page">
    <section class="is-white has-text-centered">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <img class="avatar" src="avatar/avatar.png">
                    <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Thanks for taking the time to reach out. How can I help you today?</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form accept-charset="UTF-8" action="https://usebasin.com/f/8bd40e0dd0f8" method="POST">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="Enter your email">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Enter your message"></textarea>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button class="button is-rounded">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>