<app-navbar></app-navbar>
<div class="is-form-page">
    <section class="is-white has-text-centered">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <img class="avatar" src="avatar/avatar.png">
                    <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Thanks for taking the time to reach out. How can I help you today?</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form id="form" accept-charset="UTF-8" action="https://usebasin.com/f/8bd40e0dd0f8" method="POST" enctype="multipart/form-data">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="field">
                            <label for="name" class="label">Name</label>
                            <div class="control">
                                <input class="input" name="name" type="text" placeholder="Enter your name">
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control">
                                <input class="input" name="email" type="email" placeholder="Enter your email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column">
                        <div class="field">
                            <label for="message" class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" name="message" placeholder="Enter your message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="columns is-centered">
                    <div class="column is-one-third">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-rounded">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>